* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: x-large;
  //border: 1px solid black;
}

.App {
  margin: 0 auto;
  width: 1000px;
}

header {
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: 100px;
}





